<div class="container">
  <div class="row">
    <div class="col-12">
      <h2>Dossier {{ currentFolder || '/' }}</h2>
    </div>
    <div class="col-12">
      <input type="file" id="fileInput" name="fileInput" />

      <button
        class="mr-2 mb-2"
        mat-flat-button
        color="primary"
        (click)="addPhoto('test')"
      >
        Uploader un fichier
      </button>

      <form
        class="example-form"
        [formGroup]="folderForm"
        (ngSubmit)="createFolder()"
      >
        <mat-form-field class="example-full-width">
          <mat-label>Nom du dossier</mat-label>
          <input matInput formControlName="name" />
        </mat-form-field>

        <button class="mr-2 mb-2" mat-flat-button color="primary" type="submit">
          Créer un dossier
        </button>
      </form>
    </div>

    <div class="col-12">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z0">
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Nom</th>
          <td mat-cell *matCellDef="let element">
            <span *ngIf="element.Key && element.Key !== '..'">{{ element.Key }}</span>
            <a
            color="primary"
              mat-button
              *ngIf="!element.Key && element.Prefix && element.Key !== '..'"
              (click)="navigateToFolderPage(currentFolder + element.Prefix)"
              >{{ element.Prefix }}</a
            >
            <a
            color="primary"
              mat-button
              *ngIf="element.Key === '..'"
              (click)="navigateToFolderPage(getParentPath(currentFolder))"
              >{{ element.Key }}</a
            >
          </td>
        </ng-container>

        <!-- CreatedAt Column -->
        <ng-container matColumnDef="createdAt">
          <th mat-header-cell *matHeaderCellDef>Dernière modification</th>
          <td mat-cell *matCellDef="let element">{{ element.LastModified }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </div>
</div>
